<!DOCTYPE html>
<html>
<head>
<style>
p {
    color: red;
    text-align: center;
    font-family: : "Garamond", Times, serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

</style>
</head>
</html>
