body {
    color: black;
    font-family: "Georgia", serif;
    text-align: center;
}
img {
    image-orientation: from-image;
}
/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;

}
li {
  float: Left;
}
li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: white;
}
a:hover {
  text-decoration: underline;
}
/*maybe use https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-examples */
div.gallery {
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 200px;


    text-align: center;
    vertical-align: bottom;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    height: 100%;
}
